* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #29b1dd;
    --main-color: #dddddd;
    --card-color: white;
}

header, nav label {
    font-size: 1.3rem;
    font-weight: bold;
}

header {
    color: var(--accent-color);
    background-color: white;
}

header h1 {
    padding-top: 1rem;
    padding-left: 1rem;
}

nav {
    background-color: var(--accent-color);
    height: 80px;
    width: 100%;
    line-height: 80px;
    text-align: center;
}

nav label {
    text-transform: uppercase;
    color: white;
    vertical-align: middle;
}

.wrapper {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: calc(100% / 5 - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 3rem;
    border-radius: 10px;
    background-color: var(--card-color);
    box-shadow: 1px 1px 5px gray;
}

.card i {
    padding-top: 2rem;
    font-size: 3rem;
    margin-bottom: .5rem;
}

.card p {
    padding-bottom: 2rem;
}

body {
    background-color: var(--main-color);
}
