* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    background-color: lightblue;
    width: 300px;
    height: 200px;
    margin: 1rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item i {
    font-size: 3rem;
    margin-bottom: .5rem;
}



/* DEBUG */
body {
    background-color: rgb(50, 50, 50);
}

